/*==================== Top Bar color ====================*/
.mg-head-detail .info-left li span.time {
	background: #fff;
	color: #d10014;
}
.mg-headwidget .mg-head-detail {
	background: #d10014;
}
.mg-head-detail .info-left li, .mg-headwidget .mg-head-detail .info-left li a , .mg-headwidget .mg-head-detail li a i, .mg-headwidget .mg-head-detail .info-right li a {
	color: #fff;
}
.mg-headwidget .mg-head-detail .info-right li a:hover, .mg-headwidget .mg-head-detail .info-right li a:focus {
	color: #d10014;
}
.mg-headwidget .mg-head-detail li a i {
	color: #fff;
}
.mg-headwidget .mg-head-detail .info-right li a i {
	color: #fff;
}
.mg-headwidget .site-branding-text, .mg-headwidget .site-branding-text a, .site-title a, .site-description, .site-title a:hover {
	color: #fff;
}
.mg-headwidget .trans {
	background: rgba(0, 0, 0, 0.0);
}
.mg-headwidget.trans .mg-head-detail {
	background: rgba(0, 0, 0, 0.0);
	border-color: rgba(255, 255, 255, 0.1);
}
.mg-headwidget.trans .mg-head-detail .info-left li a , .mg-headwidget.trans .mg-head-detail li a i, .mg-headwidget.trans .mg-head-detail .info-right li a {
	color: #fff;
}
.mg-headwidget.trans .navbar-wp {
    background: rgba(0, 0, 0, 0.7);
}
.mg-headwidget.center .navbar-wp {
    background: #d10014;
}
.site-title a, .site-title a:focus {color: #fff;}


/*=== navbar Header colors ===*/
.mg-headwidget .navbar-wp {
	background: #d10014;
}
.mg-headwidget .navbar-header .navbar-brand {
	color: #222;
}
.header-widget .mg-header-box .mg-social li span.icon-soci a {
    color: #999;
}
.header-widget .mg-header-box .mg-social span.icon-soci:hover a, .header-widget .mg-header-box .mg-social span.icon-soci:focus a {
    color: #d10014;
}
.mg-headwidget .navbar-wp .navbar-nav > li> a {
	color: #fff;
}

.mg-headwidget .navbar-wp .navbar-nav > li> a:hover {
    color: rgba(255,255,255,0.71);
}

.mg-headwidget .navbar-wp .navbar-nav > li > a:focus, .mg-headwidget .navbar-wp .navbar-nav > .active > a, .mg-headwidget .navbar-wp .navbar-nav > .active > a:hover, .mg-headwidget .navbar-wp .navbar-nav > .active > a:focus {
	color: #fff;
	background: #d10014;
}
.mg-headwidget .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.mg-headwidget.trans .mg-head-detail .mg-social i {
    color: #fff;
}
.mg-headwidget.trans .mg-header-box-info h4, .mg-headwidget.trans .mg-header-box-info p {
	color: #fff;
}
.mg-headwidget.light .mg-head-detail{
	background: #fff;
	border-color: #eee;
}
.mg-headwidget.light .info-left li {
	color: #848582;
}
.mg-headwidget.light .mg-nav-widget-area-back .inner {
	background: #fff;
}

.post-edit-link a:hover{color:#d10014;}
/*==================== Theme Menu ====================*/
/**Category Color **/
a.newsup-categories.category-color-1{background: #d10014;}
a.newsup-categories.category-color-2{background: #feb236;}
a.newsup-categories.category-color-3{background: #622569;}
a.newsup-categories.category-color-4{background: #82b74b;}
/*=== navbar dropdown colors ===*/ 
.navbar-wp .dropdown-menu {
	background: #1f2024;
}
.navbar-wp .dropdown-menu > li > a {
	background: #1f2024;
	color: #fff;
}
.navbar-wp .dropdown-menu > .active > a, .navbar-wp .dropdown-menu > .active > a:hover, .navbar-wp .dropdown-menu > .active > a:focus {
	background: #d10014;
	color: #fff;
}
.navbar-wp .dropdown-menu > li > a:hover, .navbar-wp .dropdown-menu > li > a:focus {
	background: #d10014;
}
.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus {
	color: #ccc;
}
.mg-search-box .btn, .mg-posts-sec-inner .btn {
	background: #d10014;
	border-color: #d10014;
	color: #fff;
}
.mg-search-box a {
	color: #fff;
}
.mg-search-box a:hover, .mg-search-box a:focus {
	color: #fff;
}
.mobilehomebtn {
    background: #d10014;
    color: #fff;
}

.mobilehomebtn:hover{color:#fff;}
.btn:hover, .btn:focus, .btn.focus{
	color: #fff;}
/*=== navbar drop down hover color ===*/
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	color: #fff;
}
.navbar-base .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
/*=== navbar toggle color ===*/ 
.navbar-default .navbar-toggle {
	color: #fff;
}
.navbar-wp .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
.navbar-wp .navbar-toggle:hover, .navbar-wp .navbar-toggle:focus {
	background: rgba(0,0,0,0);
	color: #fff;
}
/*==================== Body & Global ====================*/
.wrapper {
	background: #eee;
}
body {
	color: #222;
}
.mg-heading h3, .mg-heading h3 a {
	color: #212121;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], textarea {
	color: #9b9ea8;
	border-color: #eef3fb;
}
.form-control:hover, textarea:hover, textarea:focus,input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-color: #d10014;
}
input[type="submit"], input[type="reset"],  button {
	background: #d10014;
	border-color: #d10014;
	color: #fff;
}
input[type="submit"]:hover, input[type="reset"]:hover, button:hover,input[type="submit"]:focus, input[type="reset"]:focus, button:focus {
	background: #002954;
	border-color: #002954;
	color: #fff;
}
a {
	color: #d10014;
}
a:hover, a:focus {
	color: #002954;
}
blockquote{
	background: #f5f5f5;
	border-color: #d10014;
}
blockquote::before {
	color: #d10014;
}
.mg-search-modal .mg-search .btn {
	background: #d10014;
	color: #fff;
}
.mg-search-modal .mg-search .btn:hover {
	background: #002954;
}
.mg-error-404 h1 i {
	color: #d10014;
}
.grey-bg {
	background: #f4f7fc;
}
.owl-carousel .owl-controls .owl-buttons div:hover {
	background: #d10014;
	border-color: #d10014;
	color: #fff;
}
.owl-carousel .owl-controls .owl-buttons div:hover i {
	color: #fff;
}
.owl-carousel .owl-controls .owl-page span {
	border-color: #fff;
}
.owl-carousel .owl-controls .owl-page.active span {
	border-color: #d10014;
}
.mg-social li a, .mg-social li span.icon-soci a {
	color: #fff !important;
}
/*==================== Section & Module ====================*/
.mg-tpt-tag-area {
    background: #fff;
}
.mg-tpt-txnlst strong {
    color: #383b42;
}
.mg-tpt-txnlst ul li a {
    color: #d10014;
    background: #f3eeee;
}
.mg-tpt-txnlst ul li a:hover, .mg-tpt-txnlst ul li a:focus {
    color: #fff;
    background: #d10014;
}
.mg-latest-news .bn_title span{
  border-left-color: #d10014;
  border-color: transparent transparent transparent #d10014; 
}
.mg-latest-news .bn_title {
  background-color: #d10014;
}
.mg-latest-news .mg-latest-news-slider a{
  color: #222;
}
.mg-latest-news .mg-latest-news-slider a::before {
    color: #d10014;
}
.mg-latest-news .mg-latest-news-slider a span{
  color: #d10014;
}
.top-right-area .nav-tabs > li > a {
    border-color: #eee;
    color: #212121;
    background: #fff;
}
.top-right-area .nav-tabs .nav-link.active, .top-right-area .nav-tabs .nav-link.active:hover, .top-right-area .nav-tabs .nav-link.active:focus {
    color: #212121;
    background-color: #fff;
    border-color: #eee;
    border-bottom-color: #d10014;
}
.title_small_post h5 a {
	color: #212121;
}	
.title_small_post h5 a:hover {
	color: #d10014;
}	
.mg-featured-slider{
  background-color: #FFF;
}
.mg-blog-inner h4, .mg-blog-inner h4 a {
  color: #fff;
}
.mg-blog-inner .mg-blog-date, .mg-blog-inner .mg-blog-meta i, .mg-blog-inner .mg-blog-meta a {
	color: #fff;
}
.mg-sec-title {
  border-color: #d10014;
}
.mg-sec-title h4{
    background-color: #d10014;
    color: #fff;
}
.mg-sec-title  h4::before {
    border-left-color: #d10014;
    border-color: transparent transparent transparent #d10014;
}
.mg-viewmr-btn{
  color: #d10014;
}
.mg-posts-sec .small-post-content h5 a:hover, .featured_cat_slider a:hover{
  color: #d10014;
}
.mg-posts-sec-inner .small-list-post li{
  background: #fff;
}
.small-list-post h5.title, .small-list-post h5.title a {
    color: #212121;
}
.mg-posts-sec-post{
  background: #fff;
}
.mg-posts-modul-6 .mg-sec-top-post .title a{
    color: #000;
}
.mg-post-box .title a { 
    color:#fff;
}
.mg-post-box .title a:hover { 
    color:#d10014;
}
.mg-post-box .latest-meta { 
    color: #fff;
}
.mg-post-box .latest-meta .latest-date { 
    color:#f3f3f3;
}
.mg-post-box .latest-content { 
    color: #fff; 
}
.mg-post-bottom .mg-share-icons .mg-share span a{
	background-color: #CCD1D9;
  color: #fff;
}
.mg-post-bottom .mg-share-icons .mg-share span a:hover{
  background-color:#d10014;
  color: #fff;
}
.mg-post-bottom .mg-share-icons .mg-share-toggle{
  background-color: #CCD1D9;
}
.mg-post-bottom .mg-share-icons .mg-share-toggle i{
  color: #fff;
}
.mg-post-bottom .mg-share-icons .mg-share-toggle:hover{
  background-color:#d10014;
  color: #fff;
}
.mg-subscriber .overlay {
	background: #f3f3f3;
}
.mg-breadcrumb-section .overlay {
	background: #fff;
}
/*==================== post ====================*/
.mg-blog-post-box .mg-header h1 a {
	color: #000;
}
.mg-blog-post .bottom h4, .mg-blog-post .bottom h4 a {
	color: #fff;
}
.mg-blog-post .bottom h4:hover, .mg-blog-post .bottom h4 a:hover, .mg-posts-modul-6 .mg-sec-top-post .title a:hover, .mg-blog-inner h4 a:hover {
	color: #d10014;
}
.mg-blog-post-box .small {
	color: #222;
}
.mg-blog-post-box h4.title, .mg-blog-post-box h4.title a {
	color: #212121;
}
.mg-blog-post-box h4.title:hover, .mg-blog-post-box h4.title a:hover, .mg-blog-post-box h4.title:focus, .mg-blog-post-box h4.title a:focus {
	color: #d10014;
}
.mg-blog-category a{
    color: #fff;
    background: #d10014;
}
.mg-blog-category a:hover {
    color: #fff;
}
.mg-blog-meta {
    color: #bdbdbd;
}
.mg-blog-meta a {
	color: #bdbdbd;
}
.mg-blog-meta a:hover {
	color: #d10014;
}
.mg-blog-meta i {
	color: #999;
}
.mg-blog-date {
	color: #bdbdbd;
}
.mg-blog-post.lg .mg-blog-meta i, .mg-blog-post.lg .mg-blog-meta a , .mg-blog-post.lg .mg-blog-meta span {
	color: #fff;
}
.mg-blog-post.lg .mg-blog-meta a:hover , .mg-blog-post.lg .mg-blog-meta a:focus {
	color: #d10014;
}
.post-form {
    color: #fff;
    background: #d10014;
}
.mg-comments h4 {
	color: #212121;
}
.mg-blog-author {
	background: #e8e8e8;
}
.mg-info-author-block {
	background: #fff;
	border-color: #eaeaea;
	color: #222;
}
.mg-info-author-block a {
	color: #212121;
}
.mg-info-author-block a:hover
{
	color: #d10014;	
}
.mg-info-author-block h4 {
	color: #333;
}
.mg-info-author-block h4 span {
	color: #999999;
}
.mg-info-author-block .mg-info-author-social li a {
	color: #fff;
}
.comment_section .comment-reply-link {
	background: #f0f0f0;
	color: #666;
	border-color: #f0f0f0;
}
.mg-comments a {
	color: #777;
}
.mg-comments h4 span {
	color: #999999;
}
.mg-comments .comment .media-body > p:last-child {
	border-color: #f0f0f0;
}
.mg-comments li .media-body > .small {
	color: #999;
}
.mg-comments li .media-body > p {
	border-color: #f0f0f0;
	color: #999;
}
.mg-comments .comment-list li {
	background: #fff;
	border-color: #eee;
}
/*==================== Sidebar ====================*/
.mg-sidebar .mg-widget {
	background: #fff;
	border-color: #eee;
}
.mg-wid-title {
	border-color: #d10014;
}
.mg-sidebar .mg-widget h6 {
	background: #d10014;
	color: #fff;
}
.mg-sidebar .mg-widget h6::before {
	border-left-color: #d10014;
    border-color: transparent transparent transparent #d10014;
}
.mg-sidebar .mg-widget ul li {
	border-color: #eee;
}
.mg-sidebar .mg-widget ul li a {
	color: #222;
}
.mg-sidebar .mg-widget ul li a:hover, .mg-sidebar .mg-widget ul li a:focus {
	color: #d10014;
}
.mg-sidebar .mg-widget ul li .mg-blog-category a, .mg-sidebar .mg-widget ul li .mg-blog-category a:hover {
    color: #fff;
}
.mg-sidebar .mg-widget .mg-blog-post h3 a {
	color: #212121;
}
.mg-sidebar .mg-widget .mg-blog-post h3 a:hover {
	color: #d10014;
}
.mg-sidebar .mg-widget.widget_search .btn {
	color: #fff;
	background: #d10014;
}
.mg-sidebar .mg-widget.widget_search .btn:hover, .mg-sidebar .mg-widget.widget_search .btn:focus {
	background: #002954;
}
.mg-sidebar .mg-mailchimp-widget .btn:hover, .mg-sidebar .mg-mailchimp-widget .btn:focus {
	background: #002954;
}
.mg-sidebar .mg-widget .mg-widget-tags a, .mg-sidebar .mg-widget .tagcloud a {
	background: #f3eeee;
	color: #d10014;
	border-color: #f3eeee;
}
.mg-sidebar .mg-widget .mg-widget-tags a:hover, .mg-sidebar .mg-widget .tagcloud a:hover, .mg-sidebar .mg-widget .mg-widget-tags a:focus, .mg-sidebar .mg-widget .tagcloud a:focus {
	color: #fff;
	background: #d10014;
	border-color: #d10014;
}
.mg-sidebar .mg-widget .mg-social li span.icon-soci {
	color: #d10014;
	border-color: #d10014;
}
.mg-sidebar .mg-widget .mg-social li span.icon-soci:hover {
	color: #fff;
	background: #d10014;
	border-color: #d10014;
}
.mg-sidebar .mg-widget .mg-social li span.icon-soci:hover i {
	color: #fff;
}
/*==================== general ====================*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #212121;
}
.btn-theme, .more_btn, .more-link {
	background: #d10014;
	color: #fff;
	border-color: #d10014;
}
.btn-theme:hover, .btn-theme:focus, .more_btn:hover, .more_btn:focus, .more-link:hover, .more-link:focus {
	color: #fff;
	opacity: 0.8;
}
/*==================== pagination color ====================*/
.navigation.pagination .nav-links .page-numbers, .navigation.pagination .nav-links a {
	background: #fff;
	color: #999;
}
.navigation.pagination .nav-links .page-numbers:hover, .navigation.pagination .nav-links .page-numbers:focus, .navigation.pagination .nav-links .page-numbers.current, .navigation.pagination .nav-links .page-numbers.current:hover,  .navigation.pagination .nav-links .page-numbers.current:focus {
	border-color: #d10014;
	background: #d10014;
	color: #fff;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    border-color: #d10014;
	background: #d10014;
	color: #fff;
}
/*==================== typo ====================*/
.mg-breadcrumb-title h1 {
	color: #222;
}
.mg-page-breadcrumb > li a {
	color: #222;
}
.mg-page-breadcrumb > li a:hover, .mg-page-breadcrumb > li a:focus {
	color: #d10014;
}
.mg-page-breadcrumb > li + li:before {
	color: #222;
}
/*==================== blog ====================*/
.mg-comments .mg-reply:hover, .mg-comments .mg-reply:focus {
	color: #fff;
	background: #d10014;
	border-color: #d10014;
}
.mg-heading-bor-bt h5 {
	color: #212121;
}
/*==================== footer background ====================*/
footer .overlay {
	background: #121026;
}
footer .mg-footer-top-area h6, footer .mg-widget h6 {
	color: #fff;
}
footer .mg-widget ul li {
	color: #fff;
	border-color: #242425;
}
footer .mg-widget ul li a {
	color: #fff;
}
footer .mg-widget ul li a:hover, footer .mg-widget ul li a:focus {
	color: #d10014;
}
footer .mg-widget .calendar_wrap table thead th,footer .mg-widget .calendar_wrap table tbody td,footer .mg-widget .calendar_wrap table caption {
	border-color: #777;
	color: #fff;
}
footer .mg-social li span.icon-soci a {
    color: #fff;
}
.facebook{
	background: #3b5998;
	color: #fff;
} 
.twitter{
	background: #1da1f2;
	color: #fff;
}
.linkedin{
	background: #0e76a8;
	color: #fff;
}
.instagram{
	color: #fff; background: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%),linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
}
.youtube{
	background: #cd201f;
	color: #fff;
}
.pinterest {
	background: #bd081c;
	color: #fff;
}
.vimeo {
	background: #44bbff;
	color: #fff;
}
.dribbble {
	background: #ea4c89;
	color: #fff;
}
.skype {
	background: #0078ca;
	color: #fff;
}

.email{
	background: #222;
}



.telegram{background-color: #0088cc; color: #fff; }
footer .mg-footer-copyright {
	background: #090818;
}
footer .mg-footer-copyright p, footer .mg-footer-copyright a {
	color: #aaaed1;
}
footer .mg-footer-copyright a:hover, footer .mg-footer-copyright a:focus {
	color: #fff;
}
footer .mg-widget p {
	color: #fff;
}
footer .mg-widget.widget_search .btn {
	color: #fff;
	background: #d10014;
	border-color: #d10014;
}
footer .mg-widget.widget_search .btn:hover, footer .mg-widget.widget_search .btn:focus {
	background: #002954;
	border-color: #002954;
}
footer .mg-widget .mg-widget-tags a, footer .mg-widget .tagcloud a {
	background: #fff;
    color: #d10014;
    border-color: #fff;
}
footer .mg-widget .mg-widget-tags a:hover, footer .mg-widget .tagcloud a:hover, footer .mg-widget .mg-widget-tags a:focus, footer .mg-widget .tagcloud a:focus {
	color: #fff;
	background: #d10014;
	border-color: #d10014;
}
.ta_upscr {
	background: #d10014;
	border-color: #d10014;
	color: #fff !important;
}
.ta_upscr:hover, .ta_upscr:focus {
	color: #fff;
}
/*form-control*/
.form-group label {
    color: #515151;
}
.form-control {
	border-color: #eef3fb;
}
.form-control:focus {
	border-color: #d10014;
}
.form-group label::before {
    background-color: #dddddd;
}
.form-group label::after {
	background-color: #d10014;
}
.woocommerce-page .products h3 {
	color: #333;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	color: #333;
}
.related.products h2 {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	color: #333;
}
.woocommerce nav .woocommerce-pagination ul li span {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	border-color: #ddd;
}
.woocommerce nav .woocommerce-pagination ul li span {
	border-color: #ddd;
}
/*----woocommerce----*/ 
.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-color: #ebebeb;
}
/*-theme-background-*/ 
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce-page .products a.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt[disabled]:disabled, .woocommerce #respond input#submit.alt[disabled]:disabled:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt[disabled]:disabled, .woocommerce a.button.alt[disabled]:disabled:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt[disabled]:disabled, .woocommerce input.button.alt[disabled]:disabled:hover {
	background: #d10014;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	background: #ebe9eb;
	color: #999;
}
/*-theme-color-*/ 
.woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page .products .added_to_cart, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	color: #d10014;
}
/*-theme-border-color-*/ 
.woocommerce-cart table.cart td.actions .coupon .input-text:hover, .woocommerce-cart table.cart td.actions .coupon .input-text:focus, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce nav .woocommerce-pagination ul li a:focus, .woocommerce nav .woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	border-color: #d10014;
}
/*-theme-secondary-background-*/ 
.woocommerce #review_form #respond .form-submit input:hover, .woocommerce-page .products a.button:hover, .woocommerce .cart .button:hover, .woocommerce .cart input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce input.button:hover, .woocommerce input.button:focus {
	background: #002954;
}
/*-theme-secondary-color-*/ 
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #161c28;
}
/*-theme-color-white-*/ 
.woocommerce-page .woocommerce .woocommerce-info a, .woocommerce-page .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-message a, .woocommerce-page .woocommerce-message a:hover, .woocommerce-page .woocommerce-message a:focus, .woocommerce .woocommerce-message::before, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-error a, .woocommerce-page .woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-info a, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce .woocommerce-info, .woocommerce-cart .wc-proceed-to-checkout a .checkout-button, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce nav .woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page .products a.button, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce input.button:hover, .woocommerce input.button:focus {
	color: #fff;
}

.woocommerce .products span.onsale, .woocommerce span.onsale {
	background: #d10014;
}

.woocommerce-page .products a .price, .woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #000;
}
.woocommerce-page .products a .price ins {
	color: #e96656;
}
.woocommerce-page .products .star-rating, .woocommerce-page .star-rating span, .woocommerce-page .stars span a {
	color: #ffc107;
}
/*woocommerce-messages*/
.woocommerce-page .woocommerce-message {
	background: #2ac56c;
}
.woocommerce-page .woocommerce-message a {
	background-color: #d10014;
}
.woocommerce-page .woocommerce-message a:hover, .woocommerce-page .woocommerce-message a:focus {
	background-color: #388e3c;
}
.woocommerce-page .woocommerce-error {
	background: #ff5252;
}
.woocommerce-page .woocommerce-error a {
	background-color: #F47565;
}
.woocommerce-page .woocommerce-info {
	background: #4593e3;
}
.woocommerce-page .woocommerce-info a {
	background-color: #5fb8dd;
}
.woocommerce-page .woocommerce .woocommerce-info {
	background: rgb(58, 176, 226);
}
/*woocommerce-Price-Slider*/ 
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background: #d10014;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background: #d10014;
}
.woocommerce-page .woocommerce-ordering select {
	color: #A0A0A0;
}
/*woocommerce-price-filter*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #1a2128;
}
/*woocommerce-form*/
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	border-color: #ccc;
	color: #999;
}
.woocommerce form .form-row label { 
	color: #222;
}

div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form button[type=submit]:focus, div.wpforms-container-full .wpforms-form button[type=submit]:hover
{
    background-color: #d10014;
    color: #fff;
}