/*
Theme Name: Newsbulk
Theme URI: https://themeansar.com/free-themes/newsbulk/
Author: Themeansar
Author URI: https://themeansar.com
Description: Newsbulk is a fast, clean, modern-looking Best Responsive News Magazine WordPress theme. The theme is fully widgetized, so users can manage the content by using easy to use widgets. Newsbulk is suitable for dynamic news, newspapers, magazine, publishers, blogs, editors, online and gaming magazines, newsportals,personal blogs, newspaper, publishing or review siteand any creative website. Newsbulk is SEO friendly, WPML,Gutenberg, translation and RTL ready. Live preview : https://demo.themeansar.com/newsup and documentation at https://docs.themeansar.com/docs/newsup/
Version: 0.6
Requires PHP: 5.4
Tested up to: 5.4.2
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: newsup
Text Domain: newsbulk
Tags: blog, portfolio, news, grid-Layout, one-column, two-columns, three-columns, flexible-header, left-sidebar, right-sidebar, custom-background, custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, post-formats, rtl-language-support, theme-options, sticky-post, threaded-comments, translation-ready, block-styles, wide-blocks

Newsbulk WordPress Theme is child theme of Newsup, Copyright 2020 Themeansar
Newsbulk is distributed under the terms of the GNU General Public License v3

Newsbulk is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
.navbar-wp .dropdown-menu.searchinner .btn {
    border: medium none;
    border-radius: 0 4px 4px 0;
    height: 40px;
    line-height: 25px;
    padding: 5px 15px;
}
.mg-search-box .dropdown-toggle::after {
	display: none;
}
.m-header {
	display: none;
}
.desk-header {
	display: flex;
}
.mobilehomebtn {
    width: 30px;
    text-align: center;
    line-height: 30px;
    height: 30px;
}
.mg-blog-post.md{
	width: 49.8%;
	float: left;
	height: 236px;
}
.mg-blog-post.md .bottom h4 {
    font-size: 26px;
}
.mb1px {
	margin-bottom: 1px;
}

@media screen and (max-width: 767px) and (min-width: 240px) {
.mg-headwidget .navbar-wp .navbar-nav > li> a {
    position: relative;
    border-bottom: 1px solid rgba(225,225,225,0.4);
}
}
@media (max-width: 991px) {
	.navbar-wp .navbar-nav > li> a i {
    	display: none;
	}	
}
@media (min-width: 1200px) {
.mg-blog-post.md .bottom h4 {
    max-height: 65px;
    overflow: hidden;
}
}
@media (max-width: 991.98px) {
#menu-primary li.active.home {
	display: none;
}
.m-header {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;
}
.desk-header {
	display: none;
}
}